<!DOCTYPE html>
<!-- april fools -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>Brograms</title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag "foundation", "brograms", :media => "all" %>
	<%= csrf_meta_tags %>

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->


	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<!-- container -->
	<div class="container">
	  
	  <!-- Header -->
    <header class="row">
    	<div class="twelve columns">
    	  <%= image_tag 'brograms/header1.png', :class => 'heading' %>
    	</div>
    </header>

    <%= yield %>
	     
	  <!-- Footer -->	
    <div class="row">
      <div class="twelve columns">
				<p class="red">MADE BY <a href="http://www.zurb.com"> <%= image_tag 'brograms/logo.png' %></a></p>
			</div>
    </div>
  </div>
  <!-- container -->



	<!-- Included JS Files -->
	<%= javascript_include_tag "jquery", "foundation" %>

</body>
</html>
